.gm-carousel-container {
    .gm-carousel-cell {
        position: relative;

        span.components-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.gm-carousel-cell button {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
        width: 30px;
        height: 30px;
    }
}

.gm-carousel-add-bloc {
    padding: 40px 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 5px 10px;

        svg {
            width: 20px;
            height: 20px;
            margin-left: 5px;
        }
    }
}

.gm-carousel-dot-container {
    margin: 35px 0 20px;
}

.gm-alt-img {
    position: absolute;
    top: 10px;
    left: 100px;
}