.gm-carousel-bloc-container {
    position: relative;
}
.gm-carousel-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    > div {
        max-height: 100%;
        display: flex;
        align-items: center;
    }

    .gm-carousel-cell {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @media (max-width: 500px) {
          max-height: 250px;
        }

        img{
            width: auto;
            height: auto;
        }

        .gm-format-paysage {
            // width: 100%;
            max-width: 100%;
        }
        .gm-format-portrait {
            width: auto;
            height: auto;
            max-height: 100%;
            // object-fit: contain;
        }
    }
}


.gm-carousel-dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    }

    .gm-carousel-dot {
        width: 14px;
        height: 14px;
        background-color: transparent;
        border: 1px solid #666;
        border-radius: 50%;
        margin: .5rem;
        cursor: pointer;
        padding: 0;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        transition: all .3s;
        list-style: none;

        span {
            position: absolute;
            top: -30000px;
        }
}

.gm-carousel-dot-current {
    background-color: #666;
    width: 18px;
    height: 18px;
}

.gm-carousel-arrow-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-55%);

    @media (max-width: 600px) {
        display:none;
    }

    button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        line-height: 1.5;
        border-radius: 100%;
        // transition: color .15s;
        text-decoration: none;
        cursor: pointer;
        width: 60px;
        height: 60px;
        padding: 0;
        background-color: #fff;
        opacity: .7;
        z-index: 10;
        transition: all .3s;

        &:hover {
            text-decoration: none;
            box-shadow: 1px 1px 5px #bbb;
            opacity: 1;
        }

        span {
            position: absolute;
            top: -30000px;
        }

    }
    .gm-carousel-arrow-previous {
        // background-color: red;
        &::after {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 24px;
            background: url('../svg/previous-arrow.svg') no-repeat;
            background-size: contain;
            position: relative;
        }
    }

    .gm-carousel-arrow-next {
        &::after {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 24px;
            background: url('../svg/next-arrow.svg') no-repeat;
            background-size: contain;
        }
    }

    .gm-arrow-disabled {
        opacity: .2;

        &:hover {
            text-decoration: none;
            box-shadow: none;
            opacity: .2;
        }
    }
}